.popup__form{
    width: 430px;
    height: fit-content;
    background-color: #FFFFFF;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 2;
    border-radius: 10px;
    text-align: center;
    position: fixed;
    top: 195px;
}
@media (max-width:568px){
 .popup__form{
    width: 282px;

 }
}