.popup__button-close{
    z-index: 2;
    background-image: url(../../../images/Close\ Icon.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-color: transparent;
    padding: 0;
    border: 0;
    background-position: center;
    position: fixed;
    margin-left: 250px;
    top: 175px;
}
.popup__button-close:hover{
    opacity: 0.6;
    cursor: pointer;
}
@media  (max-width: 568px){
    .popup__button-close{
        width: 26px;
        height: 26px;
        background-size: contain;
        margin-left: 130px;
        top: 162px;
    }
}