.editForm__form{
    width: 430px;
    height: 330px;
    background-color: #FFFFFF;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 2;
    margin: 195px auto 0;
    border-radius: 10px;
    text-align: center;
}
@media  (max-width: 568px){
    .editForm__form{
        width: 282px;
        height: 322px;
        background-color: #FFFFFF;
        grid-row: 1/2;
        grid-column: 1/2;
        z-index: 2;
        margin: 123px auto 0;
        border-radius: 10px;
        text-align: center;
    }
}