.popup__container{
    max-width: 430px;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    position: relative;
    animation: fade_in_show 0.5s
}
@media (max-width:568px){
 .popup__container{
    max-width: 282px;

 }
}