.element{
    background: #FFFFFF;
    border-radius: 20px;
    width: 282px;
    margin-right: 18px;
    margin-top:20px;
}
.element:hover{
    cursor: pointer;
}
.element:nth-of-type(3n+3){
    margin-right:0;
}
.element:nth-of-type(-n+3){
    margin-top: 0;
}
@media (max-width: 900px) {
    .element:nth-of-type(3){
        margin-right: 18px;
    }
    .element:nth-of-type(2n+2){
        margin-right:0;
    }
    .element:nth-of-type(-n+2){
        margin-top: 0;
    }
    .element:nth-of-type(-n+3){
        margin-top: 20px;
    }
}
@media (max-width: 599px) {
    .element:nth-of-type(3){
        margin-right: 0;
    }
    .element:nth-of-type(2n+2){
        margin-left: auto;
    }
}
@media (max-width: 580px) {
    .element{
        margin-right: 0;
    }
    .element:nth-of-type(2n+2){
        margin-left: 0;
    }
}