.popup__input{
    width: 358px;
    border:0;
    border-bottom: 1px solid rgb(0,0,0,0.2);
    margin-bottom: 30px;
    padding: 0  0 13px;
    text-align: left;
    font-family: Inter,sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
@media (max-width: 568px){
    .popup__input{
        width: 238px;
    }
}