.profile__info-edit-button{
    width: 24px;
    height: 24px;
    margin: 6% 0 0 95%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.profile__info-edit-button:hover{
    opacity: 0.8;
    cursor: pointer;
}
@media  (max-width: 890px){
    .profile__info-edit-button{
        width: 24px;
        height: 24px;
        margin-left: 80%;
        margin-top: 2%;

    }
}