.editForm__close{
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 2;
    margin: 146px auto 0 calc(50% + 200px);
}
.editForm__close:hover{
    opacity: 0.8;
    cursor: pointer;
}
@media  (max-width: 568px){
    .editForm__close{
        width: 26px;
        height: 26px;
        margin: 72px auto 0 calc(50% + 100px);
    }
}